<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @task.user.username%>
</p>

<p>
  <strong>Title:</strong>
  <%= @task.title %>
</p>

<p>
  <strong>Date:</strong>
  <%= @task.start_time %>
</p>

<p>
  <strong>Text:</strong>
  <%= @task.text %>
</p>

<p>
  <strong>Category:</strong>
  <%= @task.category.name %>
</p>

<p>
  <strong>Rank:</strong>
  <%= @task.rank.name %>
</p>

<p>
  <strong>Status:</strong>
  <%= @task.status.name %>
</p>


<% if current_user.id == @task.user_id %>
  <%= link_to 'Edit', edit_task_path(@task) %> 
<% end %>
|<%= link_to 'Back', user_path(current_user.id) %>
